@import "../../definition.scss";

.sidebar {
    .logo {
        width: 100%;
        padding: 30px 0;
        text-align: center;

        img {
            width: 65%;
            cursor: pointer;
        }
    }
}
