@import "../../common/css/color.scss";

input {
	width: 260px;
	height: 30px;
	outline: none;
	padding: 0 5px;
	background: $white;
	color: $light-black;
	box-sizing: border-box;
	transition: border-color 0.3s;
	border: 2px solid $middle-gray;

	&:focus {
		border: 2px solid $ponceau;
	}

	&.error {
		border: 2px solid $ponceau;
	}
}

input {
	&[disabled] {
		cursor: not-allowed;
		background-color: $gray;
	}
}

input {
	&.tiny {
		width: 50px;
	}

	&.small {
		width: 100px;
	}

	&.normal {
		width: 250px;
	}

	&.medium {
		width: 400px;
	}

	&.big {
		width: 100%;
		max-width: 600px;
	}
}