@import '../../definition.scss';

.main {
    width: auto;
    margin: auto;
    font-size: 14px;
    max-width: 1300px;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding: 0 40px 80px 120px;
}
