body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

body {
    position: relative;
    color: #6c6c6c;
    font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
}

a {
    color: #6c6c6c;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}
