$gray: #eeeeee;
$dark-gray: #777777;
$light-gray: #e4e4e4;
$light-gray2: #a8a8a8;
$middle-gray: #b9b9b9;

$white: #ffffff;
$dark-white: #F5F5F5;

$black: #000000;
$light-black: #6c6c6c;

$blue: #2196F3;
$dark-blue: #285590;
$light-blue: #51aef6;

$cyan: #5cafde;
$bright: #ebeef2;
$ponceau: #EC8E72;

$icon-text: #919191;

$transparent-1: rgba(0, 0, 0, 0.1);
$transparent-3: rgba(0, 0, 0, 0.3);
$transparent-6: rgba(0, 0, 0, 0.6);
$transparent-7: rgba(0, 0, 0, 0.7);