@import "../../common/css/color.scss";

.ai-dialog {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;

	&-bg {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: $transparent-7;
	}

	&-table {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;

		.content {
			width: 370px;
			margin: auto;
			display: table;
			padding: 30px 70px;
			text-align: center;
			color: $light-black;
			background-color: $gray;
		}

		.btnwrap {
			width: 100%;
			height: 40px;
			padding: 30px 0 20px;

			.confirm,
			.cancel {
				height: 44px;
				border: none;
				color: $blue;
				outline: none;
				margin: 0 10px;
				cursor: pointer;
				font-size: 16px;
				min-width: 120px;
				font-weight: bold;
				letter-spacing: 2px;
				background-color: $gray;
			}

			.confirm {
				color: $white;
				background-color: $blue;

				&:hover {
					background-color: $light-blue;
				}
			}

			.cancel {
				&:hover {
					background-color: $light-gray;
				}
			}
		}
	}
}