@import "../../common/css/color.scss";

.tips {
	top: 53px;
	right: 0;
	z-index: 1;
	cursor: pointer;
	position: absolute;
	line-height: normal;

	&:before {
		top: 1px;
		z-index: 1;
		right: -1px;
		speak: none;
		color: $white;
		content: "\eaed";
		position: absolute;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		font-family: 'icomoon';
	}

	&:after {
		right: 0px;
		content: "";
		position: absolute;
		border-top: 24px solid $ponceau;
		border-left: 24px solid transparent;
	}

	&:hover {
		.tips-text {
			display: block;
		}
	}

	.tips-text {
		right: 0px;
		width: 200px;
		cursor: auto;
		display: none;
		padding: 8px 15px;
		position: absolute;
		background-color: $white;
		border: 1px solid $ponceau;
	}

	.tips-title {
		width: 100%;
		margin: 0px;
		text-align: center;

		p {
			text-indent: 2rem;
			word-break: break-all;
		}
	}
}