@import "../../definition.scss";

.tool {
    width: 100%;
    display: flex;
    overflow: hidden;

    &_item {
        flex: 1;
        min-width: 160px;
        text-align: center;
    }

    &_icon {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        color: $icon-text;
        border: 2px solid;
        line-height: 36px;
        border-radius: 100%;
        margin: 10px auto 10px auto;

        &.on {
            color: $white;
            border-color: $ponceau;
            background-color: $ponceau;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 36px;
                height: 36px;
                border-radius: 100%;
                border: 2px solid $white;
            }
        }
    }

    &_tips {
        padding: 0 10px;
        line-height: 30px;
        font-weight: bold;
        display: inline-block;
        border-bottom: 1px solid;
    }
}
