.error {
	&-img {
		width: 100%;
		margin: auto;
		display: block;
		max-width: 520px;
	}

	&-title {
		padding-top: 20px;
		text-align: center;
	}

	&-tips {
		width: 100%;
		margin: auto;
		max-width: 450px;
	}
}